<div class="w-75 mx-auto py-4">
  <h4>Login Now :</h4>
  <!-- <div *ngIf="apiError.length > 0" class="alert alert-danger">
    {{apiError}}
  </div> -->
  <form (ngSubmit)="handlelLogin(loginForm)" [formGroup]="loginForm">

    <label for="email">Email :</label>
    <input formControlName="email" type="email" class="form-control mb-2" id="email">

    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Email is Unvalid</p>
      <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">Email is Required</p>

    </div>
    <label for="password">Password :</label>
    <input formControlName="password" type="password" class="form-control mb-2" id="password">

    <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
      <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">password is Unvalid</p>
      <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">password is Required</p>

    </div>



    <button [disabled]="loginForm.invalid" type="submit" class="btn ms-auto d-block border-0 border-none text-white bg-main">

      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>

      <span *ngIf="!isLoading">Login</span>


    </button>
  </form>
</div>
